In [47]:
# librerias
import numpy as np
import pandas as pd

In [48]:
# lectura del dataset Employeee.ipynb de https://www.kaggle.com/datasets/tejashvi14/employee-future-prediction
empleados = pd.read_csv('Employee.csv')
print(empleados)

# Elimina registros duplicados
empleados = empleados.drop_duplicates()
print(empleados)

      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]
      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4645    Masters         2017       Pune            2   31  Female          No
4647  Bachelors         2016       Pune            3   30    Male          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4645                          2           0
4647                          2           0
4649                          2           1
4650                          5           1
4651                          2           0

[2764 rows x 9 columns]

In [ ]:
# Calcula si corresponde la media, mediana y moda. De cada campo del dataset.

# NIVEL DE EDUCACIÓN
moda_educacion = empleados['Education'].mode().values[0]

# AÑO DE INGRESO A LA EMPRESA
media_ingreso = round(empleados['JoiningYear'].mean())
mediana_ingreso = round(empleados['JoiningYear'].median())

# OFICINA: CIUDAD DONDE SE ENCUENTRA
moda_oficina = empleados['City'].mode().values[0]

# NIVEL DE PAGO
media_pago = int(empleados['PaymentTier'].mean())
mediana_pago = int(empleados['PaymentTier'].median())

# EDAD ACTUAL
media_edad = round(empleados['Age'].mean())
mediana_edad = round(empleados['Age'].median())

# GÉNERO DEL EMPLEADO
moda_genero = empleados['Gender'].mode().values[0]

# ALGUNA VEZ SE HA QUEDADO FUERA DE PROYECTOS DURANTE 1 MES O MÁS
moda_queda_fuera = empleados['EverBenched'].mode().values[0]

# EXPERIENCIA EN CAMPO ACTUAL
media_experiencia = round(empleados['ExperienceInCurrentDomain'].mean(),2)
mediana_experiencia = int(empleados['ExperienceInCurrentDomain'].median())

# SI EL EMPLEADO DEJA LA EMPRESA EN LOS PRÓXIMOS 2 AÑOS
media_abandono = round(empleados['LeaveOrNot'].mean(),2)
mediana_abandono = int(empleados['LeaveOrNot'].median())

# Imprimir los resultados
print("Moda de nivel de educación:", moda_educacion)
print()
print("Media de año de ingreso:", media_ingreso)
print("Mediana de año de ingreso:", mediana_ingreso)
print()
print("Moda de la ubicacion de la oficina:", moda_oficina)
print()
print("Media del nivel de pago:", media_pago)
print("Mediana del nivel de pago:", mediana_pago)
print()
print("Media de la edad del empleado/a:", media_edad)
print("Mediana de la edad del empleado/a:", mediana_edad)
print()
print("Moda del genero del empleado/a:", moda_genero)
print()
print("Moda si quedo afuera de un proyecto por más de un mes:", moda_queda_fuera)
print()
print("Media de experiencia en el campo:", media_experiencia)
print("Mediana de experiencia en el campo:", mediana_experiencia)
print()
print("Media de renuncia en los próximos 2 años:", media_abandono)
print("Mediana de erenuncia en los próximos 2 años:", mediana_abandono)
print()

In [ ]:
# Otra forma puede ser la siguiente, ya que la anterior me hace ruido...

# Obtener los tipos de datos de cada columna
tipos_datos = empleados.dtypes
print(tipos_datos)

# Crear el diccionario de campos y tipos de datos
campos_tipos = {}
for campo, tipo_dato in tipos_datos.items():
    if tipo_dato == 'O':
        campos_tipos[campo] = "str"
    else:
        campos_tipos[campo] = tipo_dato.name

print(campos_tipos)

In [ ]:
# Iterar sobre cada campo y calcular estadísticas
for campo, tipo_dato in campos_tipos.items():
    if tipo_dato == "str":
        moda = empleados[campo].mode().values[0]
        print(campo)
        print(f"Moda: {moda}")
        print()
    else:
        media = round(empleados[campo].mean(),2)
        mediana = int(empleados[campo].median())
        print(campo)
        print(f"Media: {media}")
        print(f"Mediana: {mediana}")
        print()